*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(86, 83, 133);
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to bottom,
    rgb(182, 216, 245),
    rgba(171, 202, 244, 0.96),
    rgba(161, 189, 243, 0.93),
    rgba(150, 175, 242, 0.89),
    rgba(139, 161, 241, 0.85),
    rgba(129, 147, 240, 0.82),
    rgba(118, 134, 240, 0.78),
    rgba(108, 120, 239, 0.75),
    rgba(97, 106, 238, 0.71),
    rgba(86, 92, 237, 0.67),
    rgba(76, 79, 236, 0.64),
    rgba(65, 65, 235, 0.6)
  );
  /* background: linear-gradient(blue, 10%, pink); */
}

form {
  border: 1px solid black;
  width: 500px;
  /* min-height: 500px; */
  padding: 20px 40px;
  padding-right: 20px;
  padding-bottom: 0;
  margin: auto;
  /* background: rgba(255, 255, 255, 0.8); */
  background-color: #dee6f8;
  border-radius: 10px;
  position: relative;
}

#questionDIV {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  padding-bottom: 20px;
  margin-right: 20px;
}
#questionDIV input[type="text"] {
  width: 100%;
}

#questionDIV h2 {
  padding-bottom: 10px;
  display: block;
}

#answerLabel {
  display: flex;
  justify-content: end;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}

.option {
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  margin: 5px 0;
  width: 100%;
  align-items: center;
  padding: 5px 0;
}
.removeOption {
  padding: 5px 10px;
  cursor: pointer;
}
::placeholder {
  color: rgba(126, 125, 136, 0.7);
  opacity: 1; /* Firefox */
}

input {
  background: rgba(255, 255, 255, 0.5);
  color: rgb(86, 83, 133);
  font-size: large;
}
input[type="text"] {
  padding: 10px 20px;
  width: 80%;
  border-radius: 10px;
  outline: none;
  border: 1px rgba(0, 0, 0, 0.06) solid;
}

input:hover {
  color: rgb(131, 128, 175);
  border: 1px rgba(0, 0, 0, 0.1) solid;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgb(86, 83, 133, 0.1);
}
input:focus {
  color: rgb(86, 83, 133);
  border: 1px rgba(0, 0, 0, 0.1) solid;
}
label.radio {
  /* margin-left: 10px; */
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  /* border: 1px solid black; */
}

input[type="radio"] {
  cursor: pointer;
}
label li {
  padding-right: 10px;
  margin-left: 20px;
  /* min-width: 30px; */
}
/* label span {
  display: block;
} */

input:focus {
  background-color: rgba(72, 83, 182, 0.06);
}

.controlBtnDiv {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  width: 80%;
  bottom: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  /* position: absolute; */
}

.controlBtnDiv button {
  padding: 10px 20px;
  background-color: rgba(65, 65, 235, 0.3);
  color: white;
  outline: none;
  border: 1px rgba(65, 65, 235, 0.5) solid;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
.addBTN {
  display: inline-block;
  background-color: transparent;
  color: rgba(65, 65, 235, 0.5);
  border: 1px rgba(65, 65, 235, 0.5) solid;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: ease 50ms;
}

.addBTN:hover {
  color: white;
  background-color: rgba(65, 65, 235, 0.5);
}
.addBTN:active {
  color: rgba(65, 65, 235, 0.5);
  background-color: transparent;
}
button:hover {
  background-color: white;
  color: rgba(65, 65, 235, 0.5);
  transition: ease-in-out 150ms;
}
